{% extends 'base.html.twig' %}

{% block title %} {{parent()}} | New Event {% endblock %}

{% block body %}

{% include 'components/navbar.html.twig' %}

<div class="example-wrapper">
    <h1>Create an Event</h1>
        {{ form_start(eventForm) }}
            {{ form_widget(eventForm) }}
                <button class="btn btn-primary" type="submit">CREATE</button>
        {{ form_end(eventForm) }}
        <button><a href="/admin">back</a></button>
</div>
{% endblock %}
