{% extends 'base.html.twig' %}

{% block title %} {{parent()}} | Remove Event {% endblock %}

{% block body %}

{% include 'components/navbar.html.twig' %}

<div class="example-wrapper">
	<h1>Remove an Events</h1>

	{{ form_start(form) }}
		<h3>Select events to be removed:</h3>
	<div class="checkbox-group">
		{{ form_widget(form.events) }}
	</div>
		<button type="submit" class="btn btn-primary">Elimina Selezionati</button>
	{{ form_end(form) }}
	<button><a href="/admin">back</a></button>
</div>
{% endblock %}
