{% extends "E01Bundle::base.html.twig" %}

{% block content %}
    <h1>Symfony2 Cheatsheet Categories</h1>
    <ul>
        {% for cat in categories %}
            <li>
                <a href="{{ path('e01_category', {'category': cat}) }}">{{ cat|capitalize }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}