{# filepath: /home/mdella-r/Desktop/PHP_Piscine/Day04/d04/src/E01/Bundle/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Symfony2 Cheatsheet</title>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>