<h2>New Address</h2>

<form action="{{ path('ex08_insert_address') }}" method="post">
    <label>Address: <textarea name="address" required></textarea></label><br>
    <label>Person ID: <input type="number" name="person_id" required></label><br>
    <button type="submit">Create Address</button>
</form>
