<h1>User Form</h1>

<form method="POST" action="{{ path('ex09_insert_person') }}">
    Username: <input name="username"><br>
    Name: <input name="name"><br>
    Email: <input name="email"><br>
    Birthdate: <input type="date" name="birthdate"><br>
    Enable: <input type="checkbox" name="enable"><br>
    Marital Status:
    <select name="marital_status">
        <option value="single">Single</option>
        <option value="married">Married</option>
        <option value="widower">Widower</option>
    </select><br>
    <button type="submit">Submit</button>
</form>
